<!DOCTYPE html>
<html>
  <head>
    <title>MyBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://kit.fontawesome.com/76eab5b41f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class='navbar'>
      <div></div>
      <h2 class='nav-title'>
        <%= nav_title(controller_name) %>
      </h2>
      <div></div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='logo'>
      <h1>My Budget App</h1>
    </div>
    <%= yield %>
  </body>
</html>
